.group::before, header nav ul::before, .contactIcons ul::before, .aboutList ul::before,
.group::after,
header nav ul::after,
.contactIcons ul::after,
.aboutList ul::after {
  content: "";
  display: table;
}

.group:after, header nav ul:after, .contactIcons ul:after, .aboutList ul:after {
  clear: both;
}

.group, header nav ul, .contactIcons ul, .aboutList ul {
  zoom: 1;
}

/* Bounce Animation */
@-webkit-keyframes fadeBounce {
  0% {
    opacity: 0;
    -webkit-transform: translateY(200%);
            transform: translateY(200%);
  }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  60% {
    -webkit-transform: translateY(6px);
            transform: translateY(6px);
  }
  70% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  85% {
    -webkit-transform: translateY(3px);
            transform: translateY(3px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fadeBounce {
  0% {
    opacity: 0;
    -webkit-transform: translateY(200%);
            transform: translateY(200%);
  }
  40% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  55% {
    -webkit-transform: translateY(6px);
            transform: translateY(6px);
  }
  70% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  85% {
    -webkit-transform: translateY(3px);
            transform: translateY(3px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

/* End Bounce Animation */
html {
  font-size: 1em;
  color: rgba(0, 0, 0, 0.8);
}

@media only screen and (max-width: 700px) {
  html {
    font-size: 1em;
  }
}

@media only screen and (min-width: 1100px) {
  html {
    font-size: 1.4em;
    line-height: 1.35;
  }
}

div.tangerine h2 {
  font-family: "Merienda", serif;
  font-size: 1.5em;
  font-weight: normal;
  margin: 0;
}

div.tangerine h1 {
  font-family: "Merienda", serif;
  font-size: 2.5em;
  font-weight: normal;
}

div.tangerine p {
  font-family: "Source Code Pro", serif;
  font-size: 1em;
  font-weight: normal;
}

div.tangerine a {
  font-family: "Source Code Pro", serif;
  font-size: 1em;
  font-weight: normal;
}

div.tangerine li {
  font-family: "Source Code Pro", serif;
  font-size: 1em;
  font-weight: normal;
}

body {
  margin: 0;
}

.container {
  max-width: 1920px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  overflow: hidden;
  -ms-flex-line-pack: center;
      align-content: center;
}

.group::before, header nav ul::before, .contactIcons ul::before, .aboutList ul::before,
.group::after,
header nav ul::after,
.contactIcons ul::after,
.aboutList ul::after {
  content: "";
  display: table;
}

.group:after, header nav ul:after, .contactIcons ul:after, .aboutList ul:after {
  clear: both;
}

.group, header nav ul, .contactIcons ul, .aboutList ul {
  zoom: 1;
}

/* Bounce Animation */
@-webkit-keyframes fadeBounce {
  0% {
    opacity: 0;
    -webkit-transform: translateY(200%);
            transform: translateY(200%);
  }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  60% {
    -webkit-transform: translateY(6px);
            transform: translateY(6px);
  }
  70% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  85% {
    -webkit-transform: translateY(3px);
            transform: translateY(3px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fadeBounce {
  0% {
    opacity: 0;
    -webkit-transform: translateY(200%);
            transform: translateY(200%);
  }
  40% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  55% {
    -webkit-transform: translateY(6px);
            transform: translateY(6px);
  }
  70% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  85% {
    -webkit-transform: translateY(3px);
            transform: translateY(3px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

/* End Bounce Animation */
header {
  padding-left: 20px;
  padding-top: 10px;
  background-color: #40c9ff;
}

@media only screen and (max-width: 700px) {
  header {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media only screen and (min-width: 1100px) {
  header {
    width: 100%;
  }
}

header h1 {
  margin: 0;
  color: #fff;
}

header nav ul {
  margin: 0;
  padding: 0;
}

header nav li {
  list-style: none;
  float: left;
  margin-right: 10px;
  text-align: center;
}

@media only screen and (max-width: 700px) {
  header nav li {
    float: none;
    margin-right: 0;
    margin-bottom: 2px;
  }
}

@media only screen and (min-width: 1100px) {
  header nav li {
    margin-right: 10px;
  }
}

header nav a {
  display: block;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
  border-bottom: none;
  background-color: #15a5d1c4;
}

header nav img {
  width: 18px;
}

.site-nav a {
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.site-nav a:hover {
  color: #fff;
  cursor: pointer;
  background-color: #000;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

footer {
  padding-left: 20px;
  padding-top: 10px;
  background-color: #40c9ff;
  width: 100%;
}

footer h2 {
  color: #fff;
}

.group::before, header nav ul::before, .contactIcons ul::before, .aboutList ul::before,
.group::after,
header nav ul::after,
.contactIcons ul::after,
.aboutList ul::after {
  content: "";
  display: table;
}

.group:after, header nav ul:after, .contactIcons ul:after, .aboutList ul:after {
  clear: both;
}

.group, header nav ul, .contactIcons ul, .aboutList ul {
  zoom: 1;
}

/* Bounce Animation */
@-webkit-keyframes fadeBounce {
  0% {
    opacity: 0;
    -webkit-transform: translateY(200%);
            transform: translateY(200%);
  }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  60% {
    -webkit-transform: translateY(6px);
            transform: translateY(6px);
  }
  70% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  85% {
    -webkit-transform: translateY(3px);
            transform: translateY(3px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fadeBounce {
  0% {
    opacity: 0;
    -webkit-transform: translateY(200%);
            transform: translateY(200%);
  }
  40% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  55% {
    -webkit-transform: translateY(6px);
            transform: translateY(6px);
  }
  70% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  85% {
    -webkit-transform: translateY(3px);
            transform: translateY(3px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

/* End Bounce Animation */
.main-area {
  opacity: 0;
  animation: fadeBounce 1.5s forwards;
  -webkit-animation: fadeBounce 1.5s forwards;
  animation-delay: .5s;
  -webkit-animation-delay: .5s;
  padding: 20px 30px;
  width: 66%;
  float: left;
  padding-right: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media only screen and (max-width: 700px) {
  .main-area {
    width: auto;
    float: none;
    padding: 10px 15px;
  }
}

.sidebar {
  animation: fadeBounce 2s forwards;
  -webkit-animation: fadeBounce 2s forwards;
  width: 34%;
  float: left;
  padding: 20px 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media only screen and (max-width: 700px) {
  .sidebar {
    width: auto;
    float: none;
    padding: 10px 15px;
  }
}

.meImage {
  position: relative;
}

.meImage img {
  line-height: 200px;
  margin-bottom: 40px;
  border-radius: 50%;
  width: 80%;
  height: auto;
  margin: 0;
}

.linkToPage {
  color: aqua;
  cursor: pointer;
}

.contactIcons {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

.contactIcons ul {
  margin: 0;
  padding: 0;
}

.contactIcons li {
  padding-left: 50%;
  -ms-flex-line-pack: center;
      align-content: center;
  list-style: none;
  float: left;
  margin-right: 10px;
  text-align: center;
}

@media only screen and (max-width: 700px) {
  .contactIcons li {
    float: none;
    margin-right: 0;
    margin-bottom: 2px;
  }
}

@media only screen and (min-width: 1100px) {
  .contactIcons li {
    margin-right: 10px;
  }
}

.contactIcons img {
  max-width: 100%;
  padding-top: 50%;
  height: auto;
  width: auto;
}

.aboutList {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.aboutList ul {
  margin: 0;
  padding: 0;
}

.aboutList li {
  list-style: bullet;
  margin-right: 10px;
  font-family: "Source Code Pro", serif;
  font-size: 1em;
  font-weight: normal;
}

@media only screen and (max-width: 700px) {
  .aboutList li {
    float: none;
    margin-right: 0;
    margin-bottom: 2px;
  }
}

@media only screen and (min-width: 1100px) {
  .aboutList li {
    margin-right: 10px;
  }
}

.teamImage {
  position: relative;
}

.teamImage img {
  line-height: 200px;
  margin-bottom: 40px;
  width: 100%;
  height: auto;
  margin: 0;
}

footer {
  font-size: .8em;
  text-align: center;
  font-weight: normal;
}
/*# sourceMappingURL=home.css.map */