.group::before, .contactIcons ul::before, .aboutList ul::before,
.group::after,
.contactIcons ul::after,
.aboutList ul::after {
  content: "";
  display: table;
}

.group:after, .contactIcons ul:after, .aboutList ul:after {
  clear: both;
}

.group, .contactIcons ul, .aboutList ul {
  zoom: 1;
}

/* Bounce Animation */
@-webkit-keyframes fadeBounce {
  0% {
    opacity: 0;
    -webkit-transform: translateY(200%);
            transform: translateY(200%);
  }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  60% {
    -webkit-transform: translateY(6px);
            transform: translateY(6px);
  }
  70% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  85% {
    -webkit-transform: translateY(3px);
            transform: translateY(3px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fadeBounce {
  0% {
    opacity: 0;
    -webkit-transform: translateY(200%);
            transform: translateY(200%);
  }
  40% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  55% {
    -webkit-transform: translateY(6px);
            transform: translateY(6px);
  }
  70% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  85% {
    -webkit-transform: translateY(3px);
            transform: translateY(3px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

/* End Bounce Animation */
/* Fade-in Animation */
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* End Fade-in Animation */
.main-area {
  opacity: 0;
  animation: fadeBounce 1.3s forwards;
  -webkit-animation: fadeBounce 1.3s forwards;
  padding: 20px 30px;
  padding-right: 40px;
  width: 66%;
  float: left;
  padding-right: 40px;
  padding-bottom: 40vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media only screen and (max-width: 700px) {
  .main-area {
    width: auto;
    float: none;
    padding: 10px 15px;
    animation: fadeBounce 1s forwards;
    -webkit-animation: fadeBounce 1s forwards;
  }
}

@media only screen and (min-width: 1100px) {
  .main-area {
    padding-bottom: 25vh;
  }
}

button {
  background-color: #15a5d1c4;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  left: 33%;
  position: relative;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  background-color: #15a5d1;
}

@media only screen and (max-width: 700px) {
  button {
    float: none;
    left: 15%;
    margin-right: 0;
    margin-bottom: 2px;
  }
}

@media only screen and (min-width: 1100px) {
  button {
    margin-right: 10px;
  }
}

button:hover {
  color: #fff;
  cursor: pointer;
  background-color: #000;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.sidebar {
  animation: fadeBounce 1.5s forwards;
  -webkit-animation: fadeBounce 1.5s forwards;
  width: 34%;
  float: right;
  padding: 5px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
}

@media only screen and (max-width: 700px) {
  .sidebar {
    opacity: 0;
    width: auto;
    float: none;
    padding: 10px 15px;
    animation: fadeBounce 1s forwards;
    -webkit-animation: fadeBounce 1s forwards;
    animation-delay: .5s;
    -webkit-animation-delay: .5s;
  }
}

.meImage {
  position: relative;
}

.meImage img {
  line-height: 200px;
  margin-bottom: 40px;
  border-radius: 50%;
  width: 80%;
  height: auto;
  margin: 0;
}

.linkToPage {
  color: aqua;
  cursor: pointer;
}

.contactIcons {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

.contactIcons ul {
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 700px) {
  .contactIcons ul {
    margin: 0 auto;
    -webkit-padding-start: 40px;
            padding-inline-start: 40px;
  }
}

.contactIcons li {
  padding-left: 50%;
  -ms-flex-line-pack: center;
      align-content: center;
  list-style: none;
  float: left;
  margin-right: 10px;
  text-align: center;
}

@media only screen and (max-width: 700px) {
  .contactIcons li {
    padding-left: 0%;
  }
}

@media only screen and (min-width: 1100px) {
  .contactIcons li {
    margin-right: 10px;
  }
}

.contactIcons img {
  max-width: 100%;
  padding-top: 50%;
  height: auto;
  width: auto;
}

@media only screen and (max-width: 700px) {
  .contactIcons img {
    padding-top: 10%;
  }
}

.aboutList {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.aboutList ul {
  margin: 0;
  padding: 0;
}

.aboutList li {
  list-style: bullet;
  margin-right: 10px;
  font-family: "Source Code Pro", serif;
  /*font-size: 1em; */
  font-weight: normal;
}

@media only screen and (max-width: 700px) {
  .aboutList li {
    float: none;
    margin-right: 0;
    margin-bottom: 2px;
  }
}

@media only screen and (min-width: 1100px) {
  .aboutList li {
    margin-right: 10px;
  }
}

.teamImage {
  position: relative;
}

.teamImage img {
  line-height: 200px;
  margin-bottom: 40px;
  width: 100%;
  height: auto;
  margin: 0;
}

.csImage {
  position: relative;
}

.csImage img {
  line-height: 200px;
  margin-bottom: 40px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
/*# sourceMappingURL=body.css.map */