@import 'mixins';
.main-area {
    opacity: 0;
    animation: fadeBounce 1.3s forwards;
    -webkit-animation: fadeBounce 1.3s forwards;
    padding: 20px 30px;
    padding-right: 40px;
    width: 66%;
    float: left;
    padding-right: 40px;
    padding-bottom: 140px;
    box-sizing: border-box;
    @include smallStuff {
        width: auto;
        float: none;
        padding: 10px 15px;
        animation: fadeBounce 1s forwards;
        -webkit-animation: fadeBounce 1s forwards;
    }
}

.sidebar {
    animation: fadeBounce 1.5s forwards;
    -webkit-animation: fadeBounce 1.5s forwards;
    width: 34%;
    float: right;
    padding: 5px 10px;
    box-sizing: border-box;
    text-align: center;

    @include smallStuff {
        opacity: 0;
        width: auto;
        float: none;
        padding: 10px 15px;
        animation: fadeBounce 1s forwards;
        -webkit-animation: fadeBounce 1s forwards;
        animation-delay: .5s;
        -webkit-animation-delay: .5s;
    }
}

.meImage {
    position: relative;
    img {
        line-height: 200px;
        margin-bottom: 40px;
        border-radius: 50%;
        width: 80%;
        height: auto;
        margin: 0;
    }
}

.linkToPage {
    color: aqua;
    cursor: pointer;
}

.contactIcons {
    box-sizing: border-box;
    ul {
        @extend .group;
        margin: 0;
        padding: 0;
        @include smallStuff {
            margin: 0 auto;
            padding-inline-start: 40px;
        }
    }
    li {
        padding-left: 50%;
        align-content: center;
        list-style: none;
        float: left;
        margin-right: 10px;
        text-align: center;
        @include smallStuff {
            padding-left: 0%;
        }
        @include bigStuff {
            margin-right: 10px;
        }
    }
    img {
        max-width: 100%;
        padding-top: 50%;
        height: auto;
        width: auto;
        @include smallStuff {
            padding-top: 10%;
        }
    }
    position: relative;
}

.aboutList {
    ul {
        @extend .group;
        margin: 0;
        padding: 0;
    }
    li {
        list-style: bullet; 
        margin-right: 10px;
        @include smallStuff {
            float: none;
            margin-right: 0;
            margin-bottom: 2px;
        }
        @include bigStuff {
            margin-right: 10px;
        }
            font-family: "Source Code Pro", serif;
            font-size: 1em;
            font-weight: normal;
    }
    box-sizing: border-box;
}

.teamImage {
    position: relative;
    img {
        line-height: 200px;
        margin-bottom: 40px;
        width: 100%;
        height: auto;
        margin: 0;
    }
}
.csImage {
    position: relative;
    img {
        line-height: 200px;
        margin-bottom: 40px;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
}