@import 'mixins';
header {
    @include smallStuff {
        padding-left: 10px;
        padding-right: 10px;
    }
    @include bigStuff {
        width: 100%;
    }
    h1 {
        margin: 0;
        color: #fff;
    }
    nav {
        ul {
            @extend .group;
            margin: 0;
            padding: 0;
        }
        li {
            list-style: none;
            float: left;
            margin-right: 10px;
            text-align: center;
            @include smallStuff {
                float: none;
                margin-right: 0;
                margin-bottom: 2px;
            }
            @include bigStuff {
                margin-right: 10px;
            }
        }
        a {
            display: block;
            padding: 10px 20px;
            color: #fff;
            text-decoration: none;
            border-bottom: none;
            background-color: $darkerBlue;
        }
        img{
            width: 18px;
        }
    }
    padding-left: 20px;
    padding-top: 10px;
    background-color: $lightBlue;
}

.site-nav {
    a {
        transition-property: color, background-color;
        transition-duration: 1s;
        background-color: $darkerBlueFull;
    }
    a:hover {
        color: #fff;
        cursor: pointer;
        background-color: #000;
        transform: scale(1.2);
    }
    li {
        div {
            div {
                a {
                    background-color: $darkerBlueFull;
                }
            }
        }
    }
}

footer {
    padding-left: 20px;
    padding-top: 10px;
    background-color: $lightBlue;
    width: 100%;
    h2{color: #fff;}
}