.group::before, header nav ul::before, .contactIcons ul::before, .aboutList ul::before,
.group::after,
header nav ul::after,
.contactIcons ul::after,
.aboutList ul::after {
  content: "";
  display: table;
}

.group:after, header nav ul:after, .contactIcons ul:after, .aboutList ul:after {
  clear: both;
}

.group, header nav ul, .contactIcons ul, .aboutList ul {
  zoom: 1;
}

/* Bounce Animation */
@-webkit-keyframes fadeBounce {
  0% {
    opacity: 0;
    -webkit-transform: translateY(200%);
            transform: translateY(200%);
  }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  60% {
    -webkit-transform: translateY(6px);
            transform: translateY(6px);
  }
  70% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  85% {
    -webkit-transform: translateY(3px);
            transform: translateY(3px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fadeBounce {
  0% {
    opacity: 0;
    -webkit-transform: translateY(200%);
            transform: translateY(200%);
  }
  40% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  55% {
    -webkit-transform: translateY(6px);
            transform: translateY(6px);
  }
  70% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  85% {
    -webkit-transform: translateY(3px);
            transform: translateY(3px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

/* End Bounce Animation */
/* Fade-in Animation */
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* End Fade-in Animation */
html {
  font-size: calc(16px + (26 - 14) * ((100vw - 300px) / (3840 - 300)));
  color: rgba(0, 0, 0, 0.8);
}

@media only screen and (min-width: 1100px) {
  html {
    line-height: 1.35;
  }
}

div.tangerine h2 {
  font-family: "Merienda", serif;
  font-weight: normal;
  margin: 0;
}

div.tangerine h1 {
  font-family: "Merienda", serif;
  font-weight: normal;
}

div.tangerine p {
  font-family: "Source Code Pro", serif;
  font-weight: normal;
}

div.tangerine a {
  font-family: "Source Code Pro", serif;
  font-weight: normal;
}

div.tangerine li {
  font-family: "Source Code Pro", serif;
  font-weight: normal;
}

div.tangerine button {
  font-family: "Source Code Pro", serif;
  font-weight: normal;
}

body {
  margin: 0;
}

.container {
  max-width: 100vw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  overflow: hidden;
  -ms-flex-line-pack: center;
      align-content: center;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  left: 0px;
  right: 0px;
}

.dropdown-content .column {
  float: left;
  width: 50%;
  -webkit-animation: fadeIn .5s;
          animation: fadeIn .5s;
}

.dropdown-content a {
  display: block;
  top: 10px;
  padding: 10px 5px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-right-style: solid;
  border-right-width: 1px;
  border-color: #ffffff;
  -webkit-column-width: 120px;
          column-width: 120px;
  text-align: center;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content:after {
  content: "";
  display: table;
  clear: both;
}

.group::before, header nav ul::before, .contactIcons ul::before, .aboutList ul::before,
.group::after,
header nav ul::after,
.contactIcons ul::after,
.aboutList ul::after {
  content: "";
  display: table;
}

.group:after, header nav ul:after, .contactIcons ul:after, .aboutList ul:after {
  clear: both;
}

.group, header nav ul, .contactIcons ul, .aboutList ul {
  zoom: 1;
}

/* Bounce Animation */
@-webkit-keyframes fadeBounce {
  0% {
    opacity: 0;
    -webkit-transform: translateY(200%);
            transform: translateY(200%);
  }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  60% {
    -webkit-transform: translateY(6px);
            transform: translateY(6px);
  }
  70% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  85% {
    -webkit-transform: translateY(3px);
            transform: translateY(3px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fadeBounce {
  0% {
    opacity: 0;
    -webkit-transform: translateY(200%);
            transform: translateY(200%);
  }
  40% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  55% {
    -webkit-transform: translateY(6px);
            transform: translateY(6px);
  }
  70% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  85% {
    -webkit-transform: translateY(3px);
            transform: translateY(3px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

/* End Bounce Animation */
/* Fade-in Animation */
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* End Fade-in Animation */
header {
  padding-left: 20px;
  padding-top: 10px;
  background-color: #40c9ff;
}

@media only screen and (max-width: 700px) {
  header {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media only screen and (min-width: 1100px) {
  header {
    width: 100%;
  }
}

header h1 {
  margin: 0;
  color: #fff;
}

header nav ul {
  margin: 0;
  padding: 0;
}

header nav li {
  list-style: none;
  float: left;
  margin-right: 10px;
  text-align: center;
}

@media only screen and (max-width: 700px) {
  header nav li {
    float: none;
    margin-right: 0;
    margin-bottom: 2px;
  }
}

@media only screen and (min-width: 1100px) {
  header nav li {
    margin-right: 10px;
  }
}

header nav a {
  display: block;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
  border-bottom: none;
  background-color: #15a5d1c4;
}

header nav img {
  width: 18px;
}

.site-nav a {
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  background-color: #15a5d1;
}

.site-nav a:hover {
  color: #fff;
  cursor: pointer;
  background-color: #000;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.site-nav li div div a {
  background-color: #15a5d1;
}

footer {
  padding-left: 20px;
  padding-top: 10px;
  background-color: #40c9ff;
  width: 100%;
}

footer h2 {
  color: #fff;
}

.group::before, header nav ul::before, .contactIcons ul::before, .aboutList ul::before,
.group::after,
header nav ul::after,
.contactIcons ul::after,
.aboutList ul::after {
  content: "";
  display: table;
}

.group:after, header nav ul:after, .contactIcons ul:after, .aboutList ul:after {
  clear: both;
}

.group, header nav ul, .contactIcons ul, .aboutList ul {
  zoom: 1;
}

/* Bounce Animation */
@-webkit-keyframes fadeBounce {
  0% {
    opacity: 0;
    -webkit-transform: translateY(200%);
            transform: translateY(200%);
  }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  60% {
    -webkit-transform: translateY(6px);
            transform: translateY(6px);
  }
  70% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  85% {
    -webkit-transform: translateY(3px);
            transform: translateY(3px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fadeBounce {
  0% {
    opacity: 0;
    -webkit-transform: translateY(200%);
            transform: translateY(200%);
  }
  40% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  55% {
    -webkit-transform: translateY(6px);
            transform: translateY(6px);
  }
  70% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  85% {
    -webkit-transform: translateY(3px);
            transform: translateY(3px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

/* End Bounce Animation */
/* Fade-in Animation */
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* End Fade-in Animation */
.main-area {
  opacity: 0;
  animation: fadeBounce 1.3s forwards;
  -webkit-animation: fadeBounce 1.3s forwards;
  padding: 20px 30px;
  padding-right: 40px;
  width: 66%;
  float: left;
  padding-right: 40px;
  padding-bottom: 40vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media only screen and (max-width: 700px) {
  .main-area {
    width: auto;
    float: none;
    padding: 10px 15px;
    animation: fadeBounce 1s forwards;
    -webkit-animation: fadeBounce 1s forwards;
  }
}

@media only screen and (min-width: 1100px) {
  .main-area {
    padding-bottom: 25vh;
  }
}

button {
  background-color: #15a5d1c4;
  border: none;
  color: white;
  padding: 15px 32px;
  margin-bottom: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  left: 33%;
  position: relative;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  background-color: #15a5d1;
}

@media only screen and (max-width: 700px) {
  button {
    float: none;
    left: 15%;
    margin-right: 0;
    margin-bottom: 2px;
  }
}

@media only screen and (min-width: 1100px) {
  button {
    margin-right: 10px;
  }
}

button:hover {
  color: #fff;
  cursor: pointer;
  background-color: #000;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.sidebar {
  animation: fadeBounce 1.5s forwards;
  -webkit-animation: fadeBounce 1.5s forwards;
  width: 34%;
  float: right;
  padding: 5px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
}

@media only screen and (max-width: 700px) {
  .sidebar {
    opacity: 0;
    width: auto;
    float: none;
    padding: 10px 15px;
    animation: fadeBounce 1s forwards;
    -webkit-animation: fadeBounce 1s forwards;
    animation-delay: .5s;
    -webkit-animation-delay: .5s;
  }
}

.meImage {
  position: relative;
}

.meImage img {
  line-height: 200px;
  margin-bottom: 40px;
  border-radius: 50%;
  width: 80%;
  height: auto;
  margin: 0;
}

.linkToPage {
  color: aqua;
  cursor: pointer;
}

.contactIcons {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

.contactIcons ul {
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 700px) {
  .contactIcons ul {
    margin: 0 auto;
    -webkit-padding-start: 40px;
            padding-inline-start: 40px;
  }
}

.contactIcons li {
  padding-left: 50%;
  -ms-flex-line-pack: center;
      align-content: center;
  list-style: none;
  float: left;
  margin-right: 10px;
  text-align: center;
}

@media only screen and (max-width: 700px) {
  .contactIcons li {
    padding-left: 0%;
  }
}

@media only screen and (min-width: 1100px) {
  .contactIcons li {
    margin-right: 10px;
  }
}

.contactIcons img {
  max-width: 100%;
  padding-top: 50%;
  height: auto;
  width: auto;
}

@media only screen and (max-width: 700px) {
  .contactIcons img {
    padding-top: 10%;
  }
}

.aboutList {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.aboutList ul {
  margin: 0;
  padding: 0;
}

.aboutList li {
  list-style: bullet;
  margin-right: 10px;
  font-family: "Source Code Pro", serif;
  /*font-size: 1em; */
  font-weight: normal;
}

@media only screen and (max-width: 700px) {
  .aboutList li {
    float: none;
    margin-right: 0;
    margin-bottom: 2px;
  }
}

@media only screen and (min-width: 1100px) {
  .aboutList li {
    margin-right: 10px;
  }
}

.teamImage {
  position: relative;
}

.teamImage img {
  line-height: 200px;
  margin-bottom: 40px;
  width: 100%;
  height: auto;
  margin: 0;
}

.csImage {
  position: relative;
}

.csImage img {
  line-height: 200px;
  margin-bottom: 40px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

footer {
  font-size: .8em;
  text-align: center;
  font-weight: normal;
}
/*# sourceMappingURL=home.css.map */